<div class="p-pb-3">
  <app-house-credit-calculator-form (onCalculate)="calculateCredit($event)"
                                    [isLoading]="isLoading | async"></app-house-credit-calculator-form>
</div>

<div *ngIf="loanCalculationResult | async as result">
  <div class="p-pb-3">
    <app-loan-calculation-overview [calculationResult]="result"
    ></app-loan-calculation-overview>
  </div>

  <div class="p-pb-3" *ngIf="loanCalculationResult | async as calculationResult">
    <app-loan-calculation-results-list [installments]="calculationResult.installments" [isLoading]="isLoading | async"
                                       class="p-py-3"></app-loan-calculation-results-list>
  </div>
</div>
