<div class="section-title">Amortization Schedule</div>
<p-table [value]="installments"
         [rows]="rowsPerPageOptions[0]"
         [columns]="columns"
         [rowsPerPageOptions]="rowsPerPageOptions"
         [paginator]="true"
         styleClass="p-datatable-striped p-datatable-gridlines"
         [showCurrentPageReport]="true"
         [responsive]="true"
         [selectionMode]="!isLoading? 'single':  null"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} installments"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-installment>
    <tr *ngIf="!isLoading">
      <td>{{installment.installmentDate | date: 'MMM yyyy'}}</td>
      <td>{{installment.principal | currency : 'EUR'}}</td>
      <td>{{installment.interest | currency : 'EUR'}}</td>
      <td>{{installment.payment | currency : 'EUR'}}</td>
    </tr>
    <tr *ngIf="isLoading">
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
  </ng-template>
</p-table>
