# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Calculator.API.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\CodePlus Software\Solwit\LoanCalculator\Calculator.API\.idea\.idea.Calculator.API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
